header{
    display: flex;
    justify-content: space-between;
    background-color: #DDE2E5;
    border-bottom: 10px solid black;
    padding: 10px 20px
}
nav{
    text-align: right;
}
a{
    display: inline-flex;
    align-items: center;
    color: #3A4042;
    font-size: 20px;
    font-family: Fira Code, Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-decoration: none;
    margin-right: 30px;
}
a::before{
    content: "";
    background-color: #BA1F33;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}
