#box{ 
    background-color: #3A4042;
    width: 627px;
    left: 91px;
    top: 196px;
    margin-left: 91px;
    margin-top: 116px;
    box-shadow: 10px 10px 0px black;
    text-align: center;
    padding: 42px 0px;
}
#box h1{
    font-family: 'Press Start 2P';
    font-size: 40px;
    color: #BA1F33;
    text-shadow: 4px 4px 0px black;
}
#box h2{
    font-family: 'Press Start 2P';
    font-size: 30px;
    color: #DDE2E5;
    text-shadow: 4px 4px 0px black;
    margin-top: 28px;
}